@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}
:focus {outline: 0;}
body {line-height: 1;color: black;}
ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}
dl dt {font-weight: 700;}
dl dd {margin: 5px 0 5px 40px;line-height: 23px;}
table {margin: 0 0 30px;width: 100%;}
th {border-bottom-width: 3px;}
tr {line-height: 23px;}
td, th {border-bottom: 1px solid #d9dde0;padding: .4375em .3125em;}
tbody {display: table-row-group;vertical-align: middle;border-color: inherit;}
:focus {outline: 0;}
body {line-height: 1;}
ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}